<% include layout %>
<body>
<div id="logo">
<H1>menu TOP14</h1>
<div id="page" class="container">
<p/>
<li><a href="/team" style="color: #00B7FF">Traitements des teams</a>
<li><a href="/journee" style="color: #00B7FF">Traitement des jours de championniat</a>
<!-- <li><a href="/listescores" style="color: #00B7FF">Traitement des scores de match</a> -->
<li><a href="/resultatjour" style="color: #00B7FF">resultats par journee</a>
<li><a href="/championnat" style="color: #00B7FF">resultat championnat</a>
<p/>
</div>
</div>
<%include bottom%>

